{% load i18n cms_tags sekizai_tags %}

{% if not disabled %}
    {% with instance.hls_source_url as url %}
        <source id="{{ source_id }}" src="{{ url }}" type="application/x-mpegURL" {{ instance.attributes_str }}>
    {% endwith %}
{% endif %}

{% addtoblock "js" %}
<script src="{{ hlsjs_source }}"></script>
<script>
// Find first source ending in a .m3u8 path and return its url
function getHlsUrl(videoElement) {
  const sources = videoElement.querySelectorAll("source");
  for (source of sources) {
    if (source.src.endsWith("m3u8")) {
      return source.src;
    }
  }
  return null;
}

function attachHlsStream(sourceElement) {
  if (Hls.isSupported()) {
    let video = sourceElement.parentElement;
    let hls = new Hls();
    let hlsUrl = getHlsUrl(video);
    hls.loadSource(hlsUrl);
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
      console.log('manifest loaded, found ' + data.levels.length + ' quality level',);
      video.play();
    });
  
    hls.on(Hls.Events.ERROR, function (event, data) {
      if (data.fatal) {
        switch (data.type) {
        case Hls.ErrorTypes.MEDIA_ERROR:
          console.error('fatal media error encountered, try to recover');
          hls.recoverMediaError();
          break;
        case Hls.ErrorTypes.NETWORK_ERROR:
          console.error('fatal network error encountered', data);
          break;
        default:
          hls.destroy();
          break;
        }
      }
    });
  } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
    video.src = hlsUrl;
    video.addEventListener('loadedmetadata', () => {
      video.play();
    });
  } else {
    console.error('HLS is not supported on this browser.');
  }
}

attachHlsStream(document.getElementById('{{ source_id }}'));

</script>
{% endaddtoblock %}	
